<ion-header [translucent]="true" class="toolbar">
  <ion-button (click)="RetHome()" fill="clear" color="medium">
    <ion-icon slot="icon-only" md="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-toolbar>
    <ion-title>Cálculo de Kg/H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input-container">
    <div class="input-user">
      <ion-item>
        <ion-input (ionChange)="InputHusosChange($event)" label="Ingresa el número Husos" placeholder="1" labelPlacement="floating" #husos_inpt></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (ionChange)="InputVelChange($event)" label="Ingresa la velocidad de entrega" placeholder="160" labelPlacement="floating" #vel_inpt></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (ionChange)="InputNmChange($event)" label="Ingresa el valor de Nm" placeholder="0.16" labelPlacement="floating" #nm_inpt></ion-input>
      </ion-item>
    </div>  
  </div>
  <div class="value-container">
    Valor constante
    <ion-text><i><strong>0.06</strong></i></ion-text>
  </div>
  <div class="btn-container">
    <ion-button id="calc_btn" shape="round" color="dark" (click)="CalcTor()">Calcular</ion-button>
  </div>

  <ion-alert
  trigger="calc_btn"
  header="El resultado es: {{kgh}}"
  [buttons]="alertButtons"
  ></ion-alert>

</ion-content>
