<ion-header [translucent]="true" class="toolbar">
  <ion-button (click)="RetHome()" fill="clear" color="medium">
    <ion-icon slot="icon-only" md="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-toolbar>
    <ion-title>Descargue de Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input-container">
    <div class="input-user">
      <ion-item>
        <ion-input (ionChange)="InputMetrajeChange($event)" label="Ingresa el valor del Metraje de paquete" placeholder="54600" labelPlacement="floating" #metraje_inpt></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (ionChange)="InputVelChange($event)" label="Ingresa la velocidad de entrega" placeholder="140" labelPlacement="floating" #vel_inpt></ion-input>
      </ion-item>
    </div>  
  </div>
  <div class="btn-container">
    <ion-button id="calc_btn" shape="round" color="dark" (click)="CalcTor()">Calcular</ion-button>
  </div>

  <ion-alert
  trigger="calc_btn"
  header="El resultado es: {{descargue}}"
  [buttons]="alertButtons"
  ></ion-alert>

</ion-content>
