.toolbar{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}

.input-user{
    display: flex;
}

.value-container, .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 7%;    
}

.value-container{
    text-indent: 0.5em;
}


.btn-container{
    margin-top: 12%;
}